<?xml version="1.0" ?>
<!--  xacro macros for robot materials.
 -->
<robot name="materials" xmlns:xacro="http://wiki.ros.org/xacro">
   <material name="red">
        <color rgba="0.8 0 0 1"/>
    </material>

    <material name="green">
        <color rgba="0 0.8 0 1"/>
    </material>

    <material name="blue">
        <color rgba="0 0 0.8 1"/>
    </material>
    
    <material name="yellow">
        <color rgba="0.8 0.8 0 1"/>
    </material>

    <material name="orange">
        <color rgba="0.8 0.25 0 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="dark_gray">
        <color rgba="0.5 0.5 0.5 1"/>
    </material>

    <material name="gray">
        <color rgba="0.753 0.753 0.753 1"/>
    </material>

    <material name="silver">
        <color rgba="0.88 0.88 0.88 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <link name="steer_bot/lidar">
    <visual>
      <origin xyz="0 0 0.003"/>
      <geometry>
        <box size="0.079 0.05 0.006"/>
      </geometry>
      <material name="support">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0 0 0.041"/>
      <geometry>
        <box size="0.05 0.05 0.07"/>
      </geometry>
      <material name="lidar">
        <color rgba="1.0 0.0 0.0 0.7"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.003"/>
      <geometry>
        <box size="0.079 0.05 0.006"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0 0.041"/>
      <geometry>
        <box size="0.05 0.05 0.07"/>
      </geometry>
    </collision>
    </link>
    <joint name="hokuyo_joint" type="fixed">
    <origin xyz="0.0775 0 0.20"/>
    <parent link="base_link"/>
    <child link="steer_bot/lidar"/>
  </joint>
  <gazebo reference="steer_bot/lidar">
    <sensor type="ray" name="head_hokuyo_sensor">
      <pose>0 0 0.02 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>40</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>720</samples>
            <resolution>1</resolution>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.10</min>
          <max>30.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <!--Noise parameters based on published spec for Hokuyo laser
               achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
               stddev of 0.01m will put 99.7% of samples within 0.03m of the true
               reading.-->
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
        <topicName>/steer_bot/laser/scan</topicName>
        <frameName>lidar</frameName>
      </plugin>
    </sensor>
  </gazebo>
</robot>
