<launch>
    <param name="use_sim_time" value="true"/>
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <remap from="scan" to="steer_bot/laser/scan"/>
	<param name="base_frame"    value="base_link"/>
	<param name="odom_frame" value="odom"/>
        <param name="map_udpate_interval" value="20.0"/>
    
    </node>  
    <!--node pkg="tf" type="static_transform_publisher" name="map"
    args="0.0 0.0 0.0 0.0 0.0 0.0 map odom 40" /-->
</launch>
